<!-- Simple List -->
<div class="row">
  <br>
  <div class="col-sm-10" id="appTiles">
    <%= render current_user.applications, icons: icons_hash %>
  </div>
</div>

<script type='text/javascript'>
  // Simple list
  Sortable.create(appTiles, {
    group: "localStorage-example",
    store: {
      /**
		 * Get the order of elements. Called once during initialization.
		 * @param   {Sortable}  sortable
		 * @returns {Array}
		 */
      get: function (sortable) {
        var order = localStorage.getItem(sortable.options.group.name);
        return order
          ? order.split('|')
          : [];
      },

      /**
		 * Save the order of elements. Called onEnd (when the item is dropped).
		 * @param {Sortable}  sortable
		 */
      set: function (sortable) {
        var order = sortable.toArray();
        localStorage.setItem(sortable.options.group.name, order.join('|'));
      }
    }
  });

  $('.appTile').hover(handlerIn, handlerOut);
  function handlerIn() {
    $(this).find('> .x').css('display', 'block');
  }
  function handlerOut() {
    $(this).find('> .x').css('display', 'none');
  }
</script>
