<!-- Simple List -->
<div class="row" id="appTiles">
  <br>
  <%= render current_user.applications, icons: icons_hash %>
</div>

<script type='text/javascript'>
  // Simple list
  Sortable.create(appTiles, {
  });

  $('.appTile').hover(handlerIn, handlerOut);
  function handlerIn() {
    $(this).find('> .x').css('display', 'block');
  }
  function handlerOut() {
    $(this).find('> .x').css('display', 'none');
  }
</script>
