<div class="row">
  <div class="col-sm-offset-3 col-sm-6 text-center">
      <div class="jumbotron">
        <h1>Welcome!</h1>

        <h2>
          This is the landing page for
          <a href="https://markcuipan.com" target="_blank">Mark Cui Pan</a>'s GLBRC demo application.
        </h2>
        <span><%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %></span>
      </div>
    </div>
  </div>
</div>
