<div class="center jumbotron">
  <h1>Welcome to the GLBRC Demo App</h1>

  <h2>
    This is the home page for
    <a href="https://markcuipan.com" target="_blank">Mark Cui Pan</a>'s GLBRC demo application.
  </h2>

  <span><%= link_to "Log in", 'login_path', class: "btn btn-lg btn-primary" %>
  &nbsp; &nbsp; or &nbsp; &nbsp; <%= link_to "Create an account", 'signup_path', class: "btn btn-lg btn-primary" %>
</div>
