$uw-red: #c5050c;
$uw-red-dark: #9b0000;
$uw-page-bg: #f7f7f7;
$uw-gray-blue: #dadfe1;
$uw-body-font: #494949;
$uw-anchor-color: #0479a8;
$uw-gray-footer-text: #adadad;
$uw-gray-footer-text-hover: #f9f9f9;

$primary:       $uw-red;
$primary-dark:  $uw-red-dark;
$text-light:    $uw-page-bg;
$text-dark:     $uw-body-font;
$text-link:     $uw-anchor-color;
$text-foot:     $uw-gray-footer-text;
$text-foot-hov: $uw-gray-footer-text-hover;
$bg-light:      $uw-page-bg;
$bg-dark:       $uw-gray-blue;
