/* universal */
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.container {
	margin: 0 auto;
	width: 100%;
}

/* header */
#logo {
  float: left;
  font-size: 2.5em;
  letter-spacing: -1px;
  line-height: 1;
  font-weight: bold;
}

#logo:hover {
  text-decoration: none;
}

$bgDefault: $primary;
$bgHighlight: $primary-dark;
$colDefault: $text-light;
$colHighlight: $text-light;
$dropDown: true;

.navbar {
	-webkit-box-shadow: 0 8px 6px -6px #999;
	-moz-box-shadow: 0 8px 6px -6px #999;
	box-shadow: 0 8px 6px -6px #999;
  min-height: 65px !important;
}

.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;

  .navbar-brand {
    color: $colDefault;

    &:focus,
    &:hover {
      color: $colDefault;
    }
  }

  .navbar-text {
    color: $colDefault;
  }

  .navbar-nav {
    > li {
      height: 65px;

      &:focus,
      &:hover {
        background-color: $bgHighlight;
        > a {
          color: $colHighlight;
        }
      }

      > a {
        color: $colDefault;
        font-size: 2em;
        font-weight: bold;
        line-height: 1.2;
      }
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;

          > li {
            > a {
              color: $colDefault;
              font-weight: bold;
              font-size: 1.4em;

              &:focus,
              &:hover {
                color: $colHighlight;
                background-color: $bgDefault;
              }
            }

            &.divider {
              background-color: $bgHighlight;
            }
          }
        }
      }
    }
    @if $dropDown {
      .open .dropdown-menu > .active {
        border: 3px solid $colHighlight;

        > a,
         > a:hover,
        > a:focus {
          color: $colHighlight;
          background-color: $bgDefault;
        }
      }
    }

    > .active {
      border: 3px solid $colHighlight;

      > a,
       > a:hover,
      > a:focus {
        color: $colHighlight;
        background-color: $bgDefault;
      }
    }

    > .open {
      border: 3px solid $colHighlight;

      > a,
       > a:hover,
      > a:focus {
        color: $colHighlight;
        background-color: $bgDefault;
      }
    }
  }

  .navbar-toggle {
    border-color: $bgHighlight;

    &:focus,
    &:hover {
      background-color: $bgHighlight;
    }

    .icon-bar {
      background-color: $colDefault;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault;
  }

  .navbar-link {
    color: $colDefault;

    &:hover {
      color: $colHighlight;
    }
  }
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;

      &:focus,
      &:hover {
        color: $colHighlight;
      }
    }

    > .active {
      > a,
       > a:hover,
      > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
