/* general */
$navbar-height: 65px;

body {
  padding-top: $navbar-height;
  background-color: $bg-dark;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.centered-child {
	position: absolute;
	width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
	margin: 0 auto;
	width: 100%;
  min-height: 42em;
}

/* header */
#logo {
  float: left;
  font-size: 2.5em;
  letter-spacing: -1px;
  line-height: 1;
  font-weight: bold;
}

#logo:hover {
  text-decoration: none;
}

$bgDefault: $primary;
$bgHighlight: $primary-dark;
$colDefault: $text-light;
$colHighlight: $text-light;
$dropDown: true;

.navbar {
	-webkit-box-shadow: 0 5px 5px #777;
	-moz-box-shadow: 0 5px 5px #777;
	box-shadow: 0 5px 5px #777;
  min-height: $navbar-height;
}

.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:focus,
    &:hover {
      color: $colDefault;
    }
  }
  .navbar-text {
    color: $colDefault;
  }
  .navbar-nav {
    margin-right: .01em;
    > li {
      height: $navbar-height;
      &:focus,
      &:hover {
        background-color: $bgHighlight;
        > a {
          color: $colHighlight;
        }
      }
      > a {
        color: $colDefault;
        font-size: 2em;
        font-weight: bold;
        line-height: 1.2;
      }
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              font-weight: bold;
              font-size: 1.4em;
              &:focus,
              &:hover {
                color: $colHighlight;
                background-color: $bgDefault;
              }
            }
            &.divider {
              background-color: $bgHighlight;
            }
          }
        }
      }
    }
    @if $dropDown {
      .open .dropdown-menu > .active {
        border: 3px solid $colHighlight;

        > a,
         > a:hover,
        > a:focus {
          color: $colHighlight;
          background-color: $bgDefault;
        }
      }
    }
    > .active {
      border: 3px solid $colHighlight;
      > a,
       > a:hover,
      > a:focus {
        color: $colHighlight;
        background-color: $bgDefault;
      }
    }
    > .open {
      border: 3px solid $colHighlight;
      > a,
       > a:hover,
      > a:focus {
        color: $colHighlight;
        background-color: $bgDefault;
      }
    }
  }
  .navbar-toggle {
    border-color: $bgHighlight;
    &:focus,
    &:hover {
      background-color: $bgHighlight;
    }
    .icon-bar {
      background-color: $colDefault;
    }
  }
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault;
  }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight;
    }
  }
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;

      &:focus,
      &:hover {
        color: $colHighlight;
      }
    }

    > .active {
      > a,
       > a:hover,
      > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }
}

/* sidebar */
#sidebar-wrapper {
  margin-right: -250px;
  right: 0;
  width: 250px;
  background: rgba(197, 5, 12, 0.25);
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all .4s ease 0;
  -moz-transition: all .4s ease 0;
  -ms-transition: all .4s ease 0;
  -o-transition: all .4s ease 0;
  transition: all .4s ease 0
}

.sidebar-apps {
  list-style: none;
  margin: 0;
  padding-top: 4em;
  padding-left: 2em;
}

.sidebar-apps li {
  font-size: 2em;
  line-height: 40px;
  text-indent: 20px;
  color: $text-light;
  display: block;
  text-decoration: none;
}

.sidebar-apps button {
  background: transparent;
  border: none;
  color: $primary;
  display: inline;
  &:hover {
    color: $primary-dark;
  }
  &:focus {
    outline: none;
  }
}

#menu-toggle {
  top: 65px;
  right: 0;
  position: fixed;
  z-index: 1;
  color: $text-light;
  font-weight: bold;
  font-size: 1.4em;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  -webkit-transition: all .3s ease 0;
  -moz-transition: all .3s ease 0;
  -ms-transition: all .3s ease 0;
  -o-transition: all .3s ease 0;
  transition: all .3s ease 0;
  &:hover {
    color: $primary;
  }
}

#menu-close {
  position: absolute;
  top: .3em;
  right: .1em;
  z-index: 1001;
  display: block;

  color: $bg-dark;
  background: rgba(197, 5, 12, 0);
  border-radius: 10px;
  border-color: $bg-dark;
  &:hover {
    color: $primary;
    border-color:$primary;
  }
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all .4s ease 0;
  -moz-transition: all .4s ease 0;
  -ms-transition: all .4s ease 0;
  -o-transition: all .4s ease 0;
  transition: all .4s ease 0
}

.toggle {
  margin: 5px 5px 0 0
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
